[run]
omit =
    ../safepo/envs/*
    ../docs/*
    ../safepo/common/wrappers.py
    ../safepo/plot.py
    ../safepo/evaluate.py
    ../safepo/multi_agent/benchmark.py
    ../safepo/multi_agent/plot_for_benchmark.py
    ../safepo/single_agent/benchmark.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    raise FileNotFoundError
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    if TYPE_CHECKING:
    if __name__ == ('__main__'|"__main__"):
